.btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    background-color: #3b35dc;
    border-color: #3b35dc;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border: 1px solid #ced4da;
}

.card {
    max-width: 250px;
    position: relative;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.collapse:not(.show) {
    display: none;
}